@charset "UTF-8";

@media only screen and (max-width: 897px) and (min-width: 676px) {

    .menu-content {
        justify-content: center;
    }

    .menu h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .about .intro-content{
        gap: 3rem;
    }
}



@media (max-width: 768px){
    .menu {
        gap: 1rem;
        padding: 2rem 0rem;
    }

    header .logo {
        font-size: 1rem;
    }

    header .visit-btn {
        display: none;
    }

    .about .intro-content{
        flex-direction: column;
        gap: 4rem;
    }

    .intro-content .intro-img {
        order: 0;
    }    
    
    .intro-content .info-box {
        order: 1;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 675px){
    .menu-content {
        padding: 1rem 5rem;
    }

    header #menu-icon {
        display:block;
    }

    .menu #lista-menu {
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        display: none;
    }

    .menu #lista-menu ul {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
    }
}