@import "variables.css";

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap);
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-1rem) scale(1.02);
}

.project-card img {
    width: 20vw;
    border-radius: 1rem;
}

.project-card .btn {
    font-size: 1.5rem;
}

.btn a {
    color: inherit;
}

.project-card:hover .btn {

    border: 0.2rem solid white;
    color: white;
}

.project-card:hover .btn:hover {
    border: 0.2rem solid white;
    background-color: white;
    color: black;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;

}

.gallery-img p {
    margin: 0.2rem;
    padding: 0;
    text-justify: auto;
}

.order {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}